<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <application title="Title">
    <screen width="1024" height="768" depth="24" stencil="8" antialiasing="4" fullscreen="false" framerate="60" vsync="false" keep_aspect_ratio="true" fixed_resolution="true">
      <background r="127" g="127" b="127" />
    </screen>
    <assets root_folder="assets\" />
  </application>
</settings>